{border: 1px soild #fff;}
title{color: #cf3476;}ss
title,h1,h2,h3{color: #e60000;}
p{font-family: Bold;
	color: #009933;
	padding: 30px;
	background-color: #EFD9CE;
	text-align: center;}ss
a {color: #ffcc00;
	text-decoration: none;}
body{background-color: #EFD9CE;
	margin: 100px;}
img{margin: 0 auto;
	display: block;}
title,h1,h2,h3{text-align: center;}ss